@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'Quest & Ring';
    src: url('../fonts/QuestRing-Regular.woff2') format('woff2'), url('../fonts/QuestRing-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quest & Ring';
    src: url('../fonts/QuestRing-Regular.woff2') format('woff2'), url('../fonts/QuestRing-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --primary-color: #d4b68e;
    --secondary-color: #6E4E33;
    --white-color: #FFFFFF;
    --my-font: 'Quest & Ring', serif;
}

*,
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
    color: #121212;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}

.primary-color {
    color: var(--primary-color);
}

.seconday-color {
    color: var(--seconday-color);
}

.my-font {
    font-family: var(--my-font);
    /* text-transform: uppercase; */
}

.btn1 {
    background-color: transparent;
    border: 1.5px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 0.5rem 1.5rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
}


.btn1 .text {
    font-size: 1rem;
    display: block;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: black;
}

.btn1 .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.btn1 .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.btn1 .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.btn1:hover {
    color: white;
    background: black;
}


.btn1:hover .text {
    color: white;
}

.btn1:hover .top-key {
    left: -2px;
    width: 0px;
}

.btn1:hover .bottom-key-1,
.btn1:hover .bottom-key-2 {
    right: 0;
    width: 0;
}


.reveal {
    visibility: hidden;
}

.hero-line,
.hero-divider,
.hero-underline {
    will-change: transform;
}